# -----------------------------
# Flutter/Dart/Pub
# -----------------------------
.dart_tool/
.packages
.pub/
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.generated/
.flutter-plugins-dependencies

# Ignore assets temporaires ou caches générés
*.lock
*.log
*.tmp

# -----------------------------
# IDEs
# -----------------------------
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# -----------------------------
# OS files
# -----------------------------
# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# -----------------------------
# Flutter generated images/icons
# -----------------------------
# Exemple : icônes Flutter ou splash temporaires
flutter_*.png

# -----------------------------
# Packages / cache
# -----------------------------
.pub-cache/

# -----------------------------
# Environment files
# -----------------------------
*.env
